input {
    outline: 0;
}

input::placeholder{
    color: #aaa;
}

.input_item {
    margin: 30px 0;
}

.input_item.flex-row {
    display: flex;
    align-items: center;
}

.input_item .input_label {
    min-width: 80px;
}

.input_item .input_value {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input_item .valid_msg {
    position: absolute;
    top: 40px;
    left: 0;
    color: #FF0000;
    font-size: 12px;
}

.input_item .icon_word{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    color: rgb(98, 160, 211);
    font-size: 12px;
}

